<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-university"></span> Profile Page</h1>
        <a href="/home#/home" class="btn btn-default btn-sm">Home Page</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <h3>Welcome to Budget Heaven <%= user.profile.firstname %>!!!</h3><br>
                    <strong>Full Name</strong>: <%= user.profile.firstname %> <%= user.profile.lastname %><br>
                    <strong>Username</strong>: <%= user.local.username %><br>
                    <strong>Email</strong>: <%= user.profile.email %>
                </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>